# Pandas

In [4]:
import pandas as pd
import numpy as np

In [5]:
pd.Series([1,2,3,'Pedram',0,np.nan, -1])

0         1
1         2
2         3
3    Pedram
4         0
5       NaN
6        -1
dtype: object

# یک لیست از روزها بر اساس تاریخ درست میکنیم

In [6]:
dates = pd.date_range("20251102",periods=6)
dates

DatetimeIndex(['2025-11-02', '2025-11-03', '2025-11-04', '2025-11-05',
               '2025-11-06', '2025-11-07'],
              dtype='datetime64[ns]', freq='D')

In [9]:
#اطراف عدد صفر در منحنی توزیع نرمال
np.random.randn(6, 4)

array([[-0.61538454,  0.51540489,  2.0111362 ,  0.31733796],
       [ 1.2576381 , -0.08011611,  0.62870746, -2.13776062],
       [-0.09550879, -0.31961246,  0.30740384, -0.32267963],
       [ 1.13389736, -0.10107845,  1.58843874,  0.75411922],
       [ 1.6276755 ,  1.53494583,  0.46783012,  0.8084635 ],
       [ 0.35824246, -0.01815284, -0.81786933,  0.33909424]])

In [34]:

df = pd.DataFrame(np.random.randn(6, 4), index = dates, columns= ["فروش","اسم","فامیل","سن"] )
df

                فروش       اسم     فامیل        سن
2025-11-02 -0.473014 -0.173802 -1.423427 -0.158642
2025-11-03 -1.157048 -1.188406 -1.242011 -0.145505
2025-11-04  0.482055  0.224404  1.499990  1.138010
2025-11-05  0.217317 -1.309197  0.546347 -0.889968
2025-11-06 -0.248839 -0.569873 -0.853115 -2.393639
2025-11-07 -1.092601 -1.457988  0.059519 -0.734751

In [35]:
df.dtypes

فروش     float64
اسم      float64
فامیل    float64
سن       float64
dtype: object

In [36]:
df["فروش"]

2025-11-02   -0.473014
2025-11-03   -1.157048
2025-11-04    0.482055
2025-11-05    0.217317
2025-11-06   -0.248839
2025-11-07   -1.092601
Freq: D, Name: فروش, dtype: float64

# فقط چندتای اول رو نمایش بده

In [37]:
df.head(2)

                فروش       اسم     فامیل        سن
2025-11-02 -0.473014 -0.173802 -1.423427 -0.158642
2025-11-03 -1.157048 -1.188406 -1.242011 -0.145505

# دو خط آخر را نمایش بده

In [38]:
df.tail(2)

                فروش       اسم     فامیل        سن
2025-11-06 -0.248839 -0.569873 -0.853115 -2.393639
2025-11-07 -1.092601 -1.457988  0.059519 -0.734751

In [39]:
df.describe()

           فروش       اسم     فامیل        سن
count  6.000000  6.000000  6.000000  6.000000
mean  -0.378688 -0.745810 -0.235450 -0.530749
std    0.668936  0.681169  1.141571  1.158676
min   -1.157048 -1.457988 -1.423427 -2.393639
25%   -0.937704 -1.278999 -1.144787 -0.851163
50%   -0.360926 -0.879139 -0.396798 -0.446697
75%    0.100778 -0.272820  0.424640 -0.148789
max    0.482055  0.224404  1.499990  1.138010

In [40]:
df.mean()

فروش    -0.378688
اسم     -0.745810
فامیل   -0.235450
سن      -0.530749
dtype: float64

In [41]:
df["فروش"].mean()

-0.3786882204920123

In [42]:
df[0:2]

                فروش       اسم     فامیل        سن
2025-11-02 -0.473014 -0.173802 -1.423427 -0.158642
2025-11-03 -1.157048 -1.188406 -1.242011 -0.145505

In [43]:
df.T #سطر و ستون را جابجا میکند

       2025-11-02  2025-11-03  2025-11-04  2025-11-05  2025-11-06  2025-11-07
فروش    -0.473014   -1.157048    0.482055    0.217317   -0.248839   -1.092601
اسم     -0.173802   -1.188406    0.224404   -1.309197   -0.569873   -1.457988
فامیل   -1.423427   -1.242011    1.499990    0.546347   -0.853115    0.059519
سن      -0.158642   -0.145505    1.138010   -0.889968   -2.393639   -0.734751

In [44]:
df.sort_values(by = "اسم")

                فروش       اسم     فامیل        سن
2025-11-07 -1.092601 -1.457988  0.059519 -0.734751
2025-11-05  0.217317 -1.309197  0.546347 -0.889968
2025-11-03 -1.157048 -1.188406 -1.242011 -0.145505
2025-11-06 -0.248839 -0.569873 -0.853115 -2.393639
2025-11-02 -0.473014 -0.173802 -1.423427 -0.158642
2025-11-04  0.482055  0.224404  1.499990  1.138010

In [45]:
df[df["سن"] > 0]

                فروش       اسم    فامیل       سن
2025-11-04  0.482055  0.224404  1.49999  1.13801

## read and write operations

In [46]:
df.read_csv("my_file.csv")

AttributeError: 'DataFrame' object has no attribute 'read_csv'

In [50]:
df.to_csv("./mycsv.csv")

In [51]:
df.to_excel("./my_excel.xlsx")